.show-form{
    display: flex;
    justify-content: center;
    margin: 2rem;
    
}
.show-form button{
    padding: .5rem 2rem;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
}

.input-box{
    display: inline-block;
    margin: 8px 5px;
}
.input-box input{
    font-size: 1rem;
    padding: 5px;
    outline: none;
    width: 20rem;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    margin-left: 60%;
    padding-top: 1rem;
}

.submit-btn, .close-btn{
    padding: 5px 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;


}
.submit-btn:hover, .close-btn:hover{
    color: white;
    background: green;

}
.form-field-msg{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background: red;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 680px){
    .expense-form{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
}