.expense-item{
    display: flex;
    border-radius: 8px;
    margin: 1rem 0rem;
    background: rgba(128, 128, 128, 0.957);

}
.date-box{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    padding: 7px 1.5rem;
    font-weight: bold;
    background: rgba(73, 43, 115, 0.852);
    color: white;
    font-size: .9rem;
    margin: 10px;
}
.date-box div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-box div:last-child{
    font-size: 1.5rem;
}
.expenses-description{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    color: white;
}
.expenses-amount{
    background: rgba(73, 43, 115, 0.852);
    border: 1px solid white;
    border-radius: 8px;
    padding: 7px 1rem;
}